In [1]:
## 使用Qwen-coder，对保险客户数据表进行SQL查询

In [1]:
import json
import os
import dashscope
from dashscope.api_entities.dashscope_response import Role
import time
import pandas as pd
import re
# 从环境变量获取 dashscope 的 API Key
api_key = os.environ.get('DASHSCOPE_API_KEY')
dashscope.api_key = api_key

# 封装模型响应函数
def get_response(messages):
    response = dashscope.Generation.call(
        model='qwen-coder-plus',
        messages=messages,
        result_format='message'  # 将输出设置为message形式
    )
    return response

# 从模型响应中提取SQL代码
def get_sql_code(response):
    # 查找```sql和```之间的内容
    pattern = r'```sql(.*?)```'
    match = re.search(pattern, response.output.choices[0].message.content, re.DOTALL)
    if match:
        return match.group(1).strip()
    else:
        # 如果没有找到```sql标记，尝试查找任何```之间的内容
        pattern = r'```(.*?)```'
        match = re.search(pattern, response.output.choices[0].message.content, re.DOTALL)
        if match:
            return match.group(1).strip()
        else:
            # 如果没有找到任何代码块，返回整个响应
            return response.output.choices[0].message.content

# 得到sql
def get_sql(query):
    start_time = time.time()
    sys_prompt = """我正在编写SQL，以下是数据库中的数据表和字段，请思考：哪些数据表和字段是该SQL需要的，然后编写对应的SQL，如果有多个查询语句，请尝试合并为一个。编写SQL请采用```sql
    """
    user_prompt = f"""-- language: SQL
### Question: {query}
### Input: {create_sql}
### Response:
Here is the SQL query I have generated to answer the question `{query}`:
```sql
"""

    messages = [
        {"role": "system", "content": sys_prompt},
        {"role": "user", "content": user_prompt}
    ]
    
    response = get_response(messages)
    return response

######## 需要人工设置 ########
save_file = f'sql_result_qwen_coder.xlsx'
qa_file = './qa_list-2.txt'                  # QA测试题
sql_file = './data/create_sql.txt'           # SQL数据表

In [2]:
# 读取 SQL数据表
with open(sql_file, 'r', encoding='utf-8') as file:
    create_sql = file.read()
# 读取 SQL问题列表
with open(qa_file, 'r', encoding='utf-8') as file:
    qa_list = file.read()
qa_list = qa_list.split('=====')

# 保存SQL结果
sql_list = []
markdown_list = []
time_list = []
for qa in qa_list:
    query = qa
    query = query.replace('\n', '')
    print(query)
    start_time = time.time()
    # 请求生成sql
    #content, prompt_len = get_sql(query)
    response = get_sql(query)
    use_time = round(time.time()-start_time, 2)
    time_list.append(use_time)
    print('SQL生成时间：', use_time)
    print('response=', response.output.choices[0].message.content)
    # 提取生成的SQL
    sql = get_sql_code(response)
    print('SQL: {}'.format(sql))
    sql_list.append(sql)

获取所有客户的姓名和联系电话。
SQL生成时间： 1.91
response= 根据您的问题，您只需要从 `CustomerInfo` 表中获取客户的姓名 (`Name`) 和联系电话 (`PhoneNumber`)。因此，不需要连接其他表。以下是完整的 SQL 查询：

```sql
SELECT Name, PhoneNumber
FROM CustomerInfo;
```

这个查询会从 `CustomerInfo` 表中选择所有的客户姓名和他们的联系电话。
SQL: SELECT Name, PhoneNumber
FROM CustomerInfo;
找出所有已婚客户的客户ID和配偶姓名。
SQL生成时间： 4.98
response= To find all married customers and their spouse names, we need to look at the `CustomerInfo` table for customer details and the `PolicyInfo` table for the relationship status. The `BeneficiaryInfo` table will be used to get the name of the spouse since the relationship is indicated in the `PolicyInfo` table.

Here is the SQL query to achieve this:

```sql
SELECT
    ci.CustomerID,
    bi.Name AS SpouseName
FROM
    CustomerInfo ci
JOIN
    PolicyInfo pi ON ci.CustomerID = pi.CustomerID
JOIN
    BeneficiaryInfo bi ON pi.BeneficiaryID = bi.BeneficiaryID
WHERE
    ci.MaritalStatus = 'Married'
    AND pi.Relationship = 'Spouse';
```

This query joins the `CustomerInfo` table with the `PolicyInfo` table on `CustomerID` and then joins the resulting set with the `BeneficiaryInfo` table on `BeneficiaryID`. It filters the results to include only those customers who are marked as 'Married' and where the relationship in the policy is specified as 'Spouse'.
SQL: SELECT
    ci.CustomerID,
    bi.Name AS SpouseName
FROM
    CustomerInfo ci
JOIN
    PolicyInfo pi ON ci.CustomerID = pi.CustomerID
JOIN
    BeneficiaryInfo bi ON pi.BeneficiaryID = bi.BeneficiaryID
WHERE
    ci.MaritalStatus = 'Married'
    AND pi.Relationship = 'Spouse';
查询所有未支付保费的保单号和客户姓名。
SQL生成时间： 4.11
response= To answer the question of querying all unpaid premiums with their policy numbers and customer names, you will need data from the `PolicyInfo` table (for policy details including premium payment status) and the `CustomerInfo` table (for customer details including name).

Here's the combined SQL query that retrieves the required information:

```sql
SELECT
    pi.PolicyNumber,
    ci.Name AS CustomerName
FROM
    PolicyInfo pi
JOIN
    CustomerInfo ci ON pi.CustomerID = ci.CustomerID
WHERE
    pi.PremiumPaymentStatus = 'Unpaid';
```

This query joins the `PolicyInfo` table (`pi`) with the `CustomerInfo` table (`ci`) on the `CustomerID` field. It then filters the results to include only those records where the `PremiumPaymentStatus` in the `PolicyInfo` table is 'Unpaid'. The result set includes the policy number and the corresponding customer's name.
SQL: SELECT
    pi.PolicyNumber,
    ci.Name AS CustomerName
FROM
    PolicyInfo pi
JOIN
    CustomerInfo ci ON pi.CustomerID = ci.CustomerID
WHERE
    pi.PremiumPaymentStatus = 'Unpaid';
找出所有理赔金额大于10000元的理赔记录，并列出相关客户的姓名和联系电话。
SQL生成时间： 8.21
response= To find all claim records with a claim amount greater than 10,000 yuan and list the related customer's name and phone number, you need to join the `ClaimInfo` table with the `PolicyInfo` table to get the `CustomerID`, and then join the `CustomerInfo` table to get the customer's name and phone number. Here is the SQL query:

```sql
SELECT
    ci.ClaimNumber,
    ci.ClaimDate,
    ci.ClaimType,
    ci.ClaimAmount,
    ci.ClaimStatus,
    ci.ClaimDescription,
    cu.Name AS CustomerName,
    cu.PhoneNumber AS CustomerPhoneNumber
FROM
    ClaimInfo ci
JOIN
    PolicyInfo pi ON ci.PolicyNumber = pi.PolicyNumber
JOIN
    CustomerInfo cu ON pi.CustomerID = cu.CustomerID
WHERE
    ci.ClaimAmount > 10000;
```

This query selects the necessary fields from the `ClaimInfo`, `PolicyInfo`, and `CustomerInfo` tables and filters the results to include only those claims where the `ClaimAmount` is greater than 10,000 yuan.
SQL: SELECT
    ci.ClaimNumber,
    ci.ClaimDate,
    ci.ClaimType,
    ci.ClaimAmount,
    ci.ClaimStatus,
    ci.ClaimDescription,
    cu.Name AS CustomerName,
    cu.PhoneNumber AS CustomerPhoneNumber
FROM
    ClaimInfo ci
JOIN
    PolicyInfo pi ON ci.PolicyNumber = pi.PolicyNumber
JOIN
    CustomerInfo cu ON pi.CustomerID = cu.CustomerID
WHERE
    ci.ClaimAmount > 10000;
查找代理人的姓名和执照到期日期，按照执照到期日期升序排序。
SQL生成时间： 2.38
response= To find the agent's name and license expiration date, sorted by the license expiration date in ascending order, you only need the `AgentInfo` table. Here is the SQL query:

```sql
SELECT Name, LicenseExpirationDate
FROM AgentInfo
ORDER BY LicenseExpirationDate ASC;
```

This query selects the `Name` and `LicenseExpirationDate` columns from the `AgentInfo` table and orders the results by `LicenseExpirationDate` in ascending order.
SQL: SELECT Name, LicenseExpirationDate
FROM AgentInfo
ORDER BY LicenseExpirationDate ASC;
获取所有保险产品的产品名称和保费，按照保费降序排序。
SQL生成时间： 4.16
response= 根据你的需求，我们需要从 `ProductInfo` 表中获取产品的名称 (`ProductName`) 和保费 (`Premium`)，并按照保费降序排序。由于问题只涉及到 `ProductInfo` 表中的信息，因此不需要与其他表进行连接。

以下是符合要求的 SQL 查询：

```sql
SELECT ProductName, Premium
FROM ProductInfo
ORDER BY Premium DESC;
```

这个查询语句会从 `ProductInfo` 表中选择 `ProductName` 和 `Premium` 字段，并按照 `Premium` 字段的值进行降序排列。
SQL: SELECT ProductName, Premium
FROM ProductInfo
ORDER BY Premium DESC;
查询销售区域在上海的员工，列出他们的姓名和职位。
SQL生成时间： 21.82
response= To answer the question "查询销售区域在上海的员工，列出他们的姓名和职位" (Query employees in the sales region of Shanghai, list their names and positions), we need to look at the `EmployeeInfo` table for employee details and the `ProductInfo` table to filter by the sales region.

However, there is no direct link between `EmployeeInfo` and `ProductInfo` tables. Typically, such information might be linked through the `AgentInfo` table if agents are assigned to specific sales regions, but since there's no such relationship defined in the schema provided, we'll assume that `EmployeeInfo` has a `SalesRegion` field or that the `AgentInfo` table should be used to infer this information.

Given the schema, let's assume the `EmployeeInfo` table has a `SalesRegion` field (which is not present in the provided schema). If this field exists, the query would be straightforward. If not, we would need additional information or assumptions about how to link employees to sales regions.

For the sake of this exercise, let's assume `EmployeeInfo` has a `SalesRegion` field:

```sql
SELECT Name, Position
FROM EmployeeInfo
WHERE SalesRegion = 'Shanghai';
```

If we must use the `AgentInfo` table and assume that agents are employees and their sales region is stored there, the query would be:

```sql
SELECT ai.Name, ai.Position
FROM AgentInfo ai
JOIN EmployeeInfo ei ON ai.AgentID = ei.EmployeeID
JOIN PolicyInfo pi ON ai.AgentID = pi.AgentID
JOIN ProductInfo pr ON pi.ProductID = pr.ProductID
WHERE pr.SalesRegion = 'Shanghai';
```

But since `AgentInfo` does not directly have a `Position` field and assuming `AgentInfo` and `EmployeeInfo` are separate, we need to join them based on `AgentID` and `EmployeeID`. However, if we assume `AgentInfo` and `EmployeeInfo` are the same (which is not the case here), we can simplify it as:

```sql
SELECT ai.Name, ai.Position
FROM AgentInfo ai
JOIN ProductInfo pr ON ai.AgentID = pr.AgentID
WHERE pr.SalesRegion = 'Shanghai';
```

Since the schema does not provide a clear link and `EmployeeInfo` does not have a `SalesRegion`, let's assume `EmployeeInfo` has a `SalesRegion` field for this example:

```sql
SELECT Name, Position
FROM EmployeeInfo
WHERE SalesRegion = 'Shanghai';
```

If we strictly follow the provided schema without assumptions, we cannot directly answer the question as there is no clear link between employees and sales regions. Please provide more details if there is an additional table or field that links employees to sales regions.
SQL: SELECT Name, Position
FROM EmployeeInfo
WHERE SalesRegion = 'Shanghai';
找出所有年龄在30岁以下的客户，并列出其客户ID、姓名和出生日期。
SQL生成时间： 3.85
response= ```sql
SELECT CustomerID, Name, DateOfBirth
FROM CustomerInfo
WHERE TIMESTAMPDIFF(YEAR, DateOfBirth, CURDATE()) < 30;
```

This SQL query selects the `CustomerID`, `Name`, and `DateOfBirth` from the `CustomerInfo` table where the age of the customer is less than 30. The `TIMESTAMPDIFF` function calculates the difference in years between the current date (`CURDATE()`) and the `DateOfBirth` of each customer.
SQL: SELECT CustomerID, Name, DateOfBirth
FROM CustomerInfo
WHERE TIMESTAMPDIFF(YEAR, DateOfBirth, CURDATE()) < 30;
查找所有已审核但尚未支付的理赔记录，包括理赔号、审核人和审核日期。
SQL生成时间： 9.64
response= To find all claims that have been reviewed but not yet paid, we need to focus on the `ClaimInfo` table. The fields required are `ClaimNumber`, `ReviewDate`, and the reviewer's name. Since the reviewer's name is not directly stored in the `ClaimInfo` table, we need to assume that the `ClaimHandler` field refers to the employee who handled the claim review. Therefore, we will join the `ClaimInfo` table with the `EmployeeInfo` table on the `ClaimHandler` and `EmployeeID` fields.

Here is the SQL query:

```sql
SELECT
    ci.ClaimNumber,
    ei.Name AS ReviewerName,
    ci.ReviewDate
FROM
    ClaimInfo ci
JOIN
    EmployeeInfo ei ON ci.ClaimHandler = ei.EmployeeID
WHERE
    ci.ClaimStatus = 'Reviewed' AND
    ci.PaymentDate IS NULL;
```

This query selects the `ClaimNumber`, the name of the reviewer (`ReviewerName`), and the `ReviewDate` from the `ClaimInfo` table. It joins the `ClaimInfo` table with the `EmployeeInfo` table to get the reviewer's name. The `WHERE` clause filters the results to include only those claims that have a `ClaimStatus` of 'Reviewed' and no `PaymentDate`, indicating that they have not yet been paid.
SQL: SELECT
    ci.ClaimNumber,
    ei.Name AS ReviewerName,
    ci.ReviewDate
FROM
    ClaimInfo ci
JOIN
    EmployeeInfo ei ON ci.ClaimHandler = ei.EmployeeID
WHERE
    ci.ClaimStatus = 'Reviewed' AND
    ci.PaymentDate IS NULL;
获取每个产品类型下的平均保费，以及该产品类型下的产品数量。
SQL生成时间： 5.09
response= To achieve the goal of getting the average premium and the number of products for each product type, we need to focus on the `ProductInfo` table since it contains the necessary fields: `ProductType` and `Premium`.

Here's the SQL query that calculates the average premium and counts the number of products for each product type:

```sql
SELECT
    ProductType,
    AVG(Premium) AS AveragePremium,
    COUNT(ProductID) AS ProductCount
FROM
    ProductInfo
GROUP BY
    ProductType;
```

This query groups the data by `ProductType`, calculates the average premium using `AVG(Premium)`, and counts the number of products in each group using `COUNT(ProductID)`.
SQL: SELECT
    ProductType,
    AVG(Premium) AS AveragePremium,
    COUNT(ProductID) AS ProductCount
FROM
    ProductInfo
GROUP BY
    ProductType;

In [3]:
result = pd.DataFrame(columns=['QA', 'SQL', 'time'])
result['QA'] = qa_list
result['SQL'] = sql_list
result['time'] = time_list
result.to_excel(save_file, index=False)
result

,QA,SQL,time
0,获取所有客户的姓名和联系电话。\n,"SELECT Name, PhoneNumber\nFROM CustomerInfo;",1.91
1,\n找出所有已婚客户的客户ID和配偶姓名。\n,"SELECT \n ci.CustomerID,\n bi.Name AS Sp...",4.98
2,\n查询所有未支付保费的保单号和客户姓名。\n,"SELECT \n pi.PolicyNumber,\n ci.Name AS ...",4.11
3,\n找出所有理赔金额大于10000元的理赔记录，并列出相关客户的姓名和联系电话。\n,"SELECT \n ci.ClaimNumber,\n ci.ClaimDate...",8.21
4,\n查找代理人的姓名和执照到期日期，按照执照到期日期升序排序。\n,"SELECT Name, LicenseExpirationDate\nFROM Agent...",2.38
5,\n获取所有保险产品的产品名称和保费，按照保费降序排序。\n,"SELECT ProductName, Premium\nFROM ProductInfo\...",4.16
6,\n查询销售区域在上海的员工，列出他们的姓名和职位。\n,"SELECT Name, Position\nFROM EmployeeInfo\nWHER...",21.82
7,\n找出所有年龄在30岁以下的客户，并列出其客户ID、姓名和出生日期。\n,"SELECT CustomerID, Name, DateOfBirth\nFROM Cus...",3.85
8,\n查找所有已审核但尚未支付的理赔记录，包括理赔号、审核人和审核日期。\n,"SELECT \n ci.ClaimNumber,\n ei.Name AS R...",9.64
9,\n获取每个产品类型下的平均保费，以及该产品类型下的产品数量。,"SELECT \n ProductType,\n AVG(Premium) AS...",5.09